flask
langchain
langchain-openai
langchain-core
langgraph
langchain-community
langchain-text-splitters
numpy
python-dotenv
jq
supabase
arize-phoenix-otel
openinference-instrumentation-langchain
flask-socketio
flask_login
authlib