{% extends "base.html" %}

{% block title %}personAIble - Onboarding{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block content %}
    <div class="gradient-blur"></div>
    {% include 'components/top_bar.html' %}
    <div id="root" class="content">
        {% include 'components/qa_interface.html' %}
    </div>

    <script type="module" src="{{ url_for('static', filename='js/keybindings.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/onboarding.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/formatters.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/dataManager.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/chat.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/navigation.js') }}"></script>
{% endblock %} 